<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <nav>
        <a href="index">HOME</a>
        <a href="about">ABOUT</a>
    </nav>

    <div class="grades-holder">
      <div class="grade-image"></div>
      <div class="grades-text">
        <div class="about-section">
          <h1 class="text">About</h1>
          <div class="text"><h2>I will try to get a good grade on this project!</h2></div>
          <p class="text">This homework assignment is a Node.js web server project. The server calls pages index.html and about.html. It also serves javascript and images onto the html pages through our webfile and our server.js!  
          </p>
          <p class="text">The goal is to learn how to use the http module in order to host webservers and create content dynamically</p>
          <p class="text">All Content are mime types and are able to be put into the website through requests to the views folder</p>
          <p class="link"><a href="index">Back to Home Page</a></p>
        </div>
        
      </div>
    </div>

</body>
</html>