<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <nav>
        <a href="index">HOME</a>
        <a href="about">ABOUT</a>
    </nav>

    <div class="grades-holder">
      <div class="grade-image"></div>
      <div class="grades-text">
        <div class="text"><h2>I will try to get a good grade on this project!</h2></div>
      </div>
    </div>

</body>
</html>